## Comments

In [5]:
#I can comment here
2 + 2 # I can also put the comment hereee

4

## Basic Data Types

- <b>Integers</b> are whole numbers

In [6]:
5, 6 ,7

(5, 6, 7)

- <b>Floating</b> are numbers with decimal points

In [7]:
3.14, -117.56

(3.14, -117.56)

- <b>Strings</b> are just collections of characters

In [8]:
"Alyssa" # strings are enclosed between quotation marks

'Alyssa'

- <b>Booleans</b> can only be either True or False

In [15]:
True # Don't forget capitalization!
False

False

In [13]:
5 > 7

False

In [14]:
5 < 7

True

- <b>None</b> is a special object or data type that is used for 'nothingness' or sometimes the absence of a value

In [19]:
None

## Operators

- <b>Operator</b> = +, -, /, *, etc...
- <b>Operand</b> = data types

- <b>Addition</b>

In [20]:
5 + 3 # Addition of two integers

8

In [21]:
3.14 + 7.96 #Addition of two floating numbers

11.1

- <b>Concatenation</b> is for adding two strings

In [24]:
"Race"+"car"

'Racecar'

- <b>Subtraction</b>

In [27]:
10 - 5 # Subtraction of two integers

5

- <b>Multiplication</b>

In [26]:
5 * 3 # Multiplication of two integers

15

In [28]:
"Mahi" * 2 # You can multiply strings with integers!

'MahiMahi'

In [32]:
3 + 4 * 5   # Python follows PEMDAS
(3 + 4) * 5 # It will solve the operation in the parenthesis first

35

- <b>Division</b>

In [35]:
15 / 4 # Division of two integers
49 / 7 # Quotients will always be floating numbers even if they are equal to a whole number

7.0

In [45]:
10 // 3 # Floor division

3

In [44]:
14 // 3 # It does not round up!
# 14 / 3

4

- <b>Modulo</b> shows the remainder

In [46]:
14 % 3

2

- <b>Equality</b>

In [47]:
1 == 1

True

In [49]:
1 == 2

False

In [50]:
"Hello" == "hello" # It's case sensitive!

False

- <b>Inequality</b>

In [51]:
1 != 4

True

- <b>Less than, Greater than</b>

In [52]:
5 < 8

True

In [53]:
5 <= 8

True

In [54]:
5 >= 8

False

In [55]:
5 > 8

False

## Variables

- a name that you grant onto an object
- it is subject to variance

In [56]:
age = 23

In [57]:
age

23

In [59]:
age + 5
# 23 + 5

28

In [60]:
price = 19.99

In [63]:
first_name = "Alyssa" # snake_case is when you add an underscore for variable names that have more than one word
profession = "Scientist"
is_amazing = True

In [64]:
is_amazing

True

In [65]:
first_name

'Alyssa'

In [70]:
first_name + " is amazing"

'Alyssa is amazing'

In [71]:
age = age + 5

In [72]:
age

28

## Built-In Functions

- cooking recipe
- sequence of instructions

In [1]:
len("How many characters do we have here?") # measures length

36

In [2]:
str(3.14) # return value is a string

'3.14'

In [3]:
int("10") # return value is integer

10

In [4]:
float("9.384") #return value is a float number

9.384

In [10]:
type(True) # tells you what data type of object is in your input; return value is the class
# type(5)

bool

In [11]:
type(10) == type(5)

True

## Custom Functions

In [17]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit

def convert_to_fahrenheit(celsius_temp): # means defining a function 
    product = celsius_temp * 1.8 #  save the calculation in a variable 
    return product + 32 # return value

In [19]:
convert_to_fahrenheit(45) # one way of invoking syntax

113.0

In [20]:
convert_to_fahrenheit(celsius_temp = 45) # another way; benefitial for multiple syntax

113.0

In [21]:
# Setting default values; optional

def convert_to_fahrenheit(celsius_temp = 0):
    product = celsius_temp * 1.8  
    return product + 32

In [22]:
convert_to_fahrenheit(200)

392.0

In [23]:
convert_to_fahrenheit() # the product is zero because celsius_temp has a default value of zero;

32.0

## String Methods

- a function that belongs to a specific object

In [25]:
profession = "Scientist"

In [27]:
profession.upper() # there are different methods if you press tab

'SCIENTIST'

In [28]:
"Scientist".upper() # same but the first one has an assigned variable
                    # new object, the string is not changed

'SCIENTIST'

In [29]:
profession.lower() # new object, the string is not changed

'scientist'

In [30]:
profession.swapcase() # new object, the string is not changed

'sCIENTIST'

In [ ]:
# immutable - incapable of change
# mutable - capable of change

# string - immutable

In [31]:
profession # remains unchanged; IMMUTABLE

'Scientist'

In [32]:
"a brief history of time".title() # capitalizes the first letter of every word; you can use this for names too

'A Brief History Of Time'

In [33]:
"a brief history of time".capitalize() # only captializes the first word

'A brief history of time'

In [36]:
profession = "       Scientist       "

In [37]:
profession.lstrip() # strips away the spaces at from the left side of the string

'Scientist       '

In [39]:
profession.rstrip() # strips away the spaces at from the left side of the string

'       Scientist'

In [40]:
profession.strip() # strips away the spaces from both sides of the string

'Scientist'

In [45]:
profession.replace("i","@!#$") # ("what you want to replace","the replacement")

'       Sc@!#$ent@!#$st       '

In [47]:
profession.strip().replace("i","e").upper() # this is what you call method chaining

'SCEENTEST'

In [48]:
dog_breed = "poodle"

In [49]:
dog_breed.startswith("pood") # checks for inclusion at the beginning of the string; this is CAsE sEnsitivE

True

In [50]:
dog_breed.startswith("skdjfhskdh")

False

In [51]:
dog_breed.endswith("le") # checks for inclusion at the end of the string

True

In [54]:
"oodle" in dog_breed # checks whether or not the object on the left is in the object on the right; General inclusion

True

In [56]:
"kfhsk" not in dog_breed # opposite of "in"

True

## Lists

- Mutable data structure that holds an ordered collection of elements

In [57]:
[1, 2, 3, 4] # the box is in order; ARRAY they are interchangeable with LISTS

[1, 2, 3, 4]

In [58]:
[True, False, False, True]

[True, False, False, True]

In [66]:
party_attendees = ["Maxwell", "Faraday", "Ampere"]

In [67]:
party_attendees

['Maxwell', 'Faraday', 'Ampere']

In [68]:
[] # can be empty

[]

In [70]:
len(party_attendees) # length of the list

3

In [71]:
type(party_attendees)

list

In [72]:
presidents = ["Aguinaldo", "Quezon"]

In [75]:
presidents.append("Quirino") # adds more objects to the list
                             # mutates the list unlike the previous one with string methods

In [74]:
presidents # mutated variable

['Aguinaldo', 'Quezon', 'Quirino']

In [80]:
popcorn = ["Buttered", "Barbecue", "Sour Cream and Onions"]
popcorn

['Buttered', 'Barbecue', 'Sour Cream and Onions']

In [81]:
popcorn.pop() # removes the last object from the list

'Sour Cream and Onions'

In [82]:
popcorn # new popcorn list

['Buttered', 'Barbecue']

In [83]:
popcorn.remove("Buttered") # removes the specific object you want to remove from the list
                           # note that it only removes the FIRST occurrence of it

In [84]:
popcorn

['Barbecue']

In [85]:
planets = ["Earth", "Mercury", "Mars", "Pluto"]

In [86]:
"Pluto" in planets # cAse SenSitIveE

True

In [87]:
"Venus" not in planets

True

## Index Positions and Slicing

In [90]:
spiderman = "Peter Parker" # in Python, the count starts at 0 and NOT 1
                           # that count is called the INDEX POSITION
                           # so 0 = P because it's the first character in the string

In [91]:
len(spiderman)

12

In [98]:
spiderman[0] # the one in brackets references the index position 
spiderman[11] # notice that the last letter is 11 not 12 because Python counts from zero
spiderman[9]

'k'

In [105]:
spiderman[-1]   # this is the same as spiderman[11]
spiderman[-12]  # the reverse index position starts at -1 not -0, so spiderman [-12] is P
spiderman[-2]   # 2 characters from the end

'e'

In [106]:
superheroes = ["Ironman", "America's Ass", "Wakanda Forevah", "Thor", "Star Lord"]
# index position of Ironman = 0...and so on

In [107]:
len(superheroes)

5

In [108]:
superheroes[1]

"America's Ass"

In [109]:
superheroes[-5]

'Ironman'

In [113]:
superheroes[1:3] # [this is inclusive: this is not inclusive*]
                 # *so the object on the list with index 3 will not be included
                 # list slicing syntax
superheroes[2:5]

['Wakanda Forevah', 'Thor', 'Star Lord']

In [115]:
spiderman[2:10] # also works with strings

'ter Park'

In [120]:
spiderman[0:5] 
spiderman[:5]  # you can omit the 0, or the very beginning of the list (which is zero)

'Peter'

In [128]:
superheroes[3:5] # you can either do this (last index + 1 = doesn't exist), or 
superheroes[3:]  # this for the end of the list

['Thor', 'Star Lord']

In [129]:
superheroes[:] # just copies the whole list

['Ironman', "America's Ass", 'Wakanda Forevah', 'Thor', 'Star Lord']

In [130]:
spiderman[3:-2] # can use the normal index position and the reversed

'er Park'

## Dictionaries

- an unordered collection of key-value pairs
- example: Filet mignon (key) = 2.99 (value)
- <b>LIST/ARRAY</b> --> ordered
- <b>DICTIONARIES</b> --> association, mutable
- keys must be <b>UNIQUE</b>

In [149]:
menu = {
    "Filet Mignon" : 29.99,
    "Sinigang" : 30.45,
    "Adobo" : 45.29,
    "Pepperoni Pizza" : 300.45
}

In [150]:
menu

{'Filet Mignon': 29.99,
 'Sinigang': 30.45,
 'Adobo': 45.29,
 'Pepperoni Pizza': 300.45}

In [151]:
len(menu)

4

In [152]:
menu["Filet Mignon"] # calling out the index position from the dictionary 
menu["Adobo"]

45.29

In [153]:
menu["Quesadilla"] = 150.67 # how to add a key-value pair to the dictionary

In [154]:
menu

{'Filet Mignon': 29.99,
 'Sinigang': 30.45,
 'Adobo': 45.29,
 'Pepperoni Pizza': 300.45,
 'Quesadilla': 150.67}

In [155]:
menu["Adobo"] = 30.44 # you can also change the value of the key in the dictionary

In [156]:
menu

{'Filet Mignon': 29.99,
 'Sinigang': 30.45,
 'Adobo': 30.44,
 'Pepperoni Pizza': 300.45,
 'Quesadilla': 150.67}

In [157]:
menu.pop("Filet Mignon") # to remove a key-value pair from the dictionary

29.99

In [158]:
menu

{'Sinigang': 30.45,
 'Adobo': 30.44,
 'Pepperoni Pizza': 300.45,
 'Quesadilla': 150.67}

In [159]:
"Sinigang" in menu # to check key NOT value

True

In [160]:
"Ampalaya" in menu

False

In [161]:
"Pineapple Pizza" not in menu

True

In [163]:
menu.values() # container of all the values in the dictionary 
30.45 in menu.values() # to check value

True